:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --twitter-color: #1da1f2;
    --facebook-color: #1877f2;
    --linkedin-color: #0a66c2;
    --youtube-color: #ff0000;
}

/* start width, padding and margin */
.f-width {
    width: 100%;
}

.f-height {
    height: 100%;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.w-60 {
    width: 60px;
}

.w-100 {
    width: 100px;
}

.w-120 {
    width: 120px;
}

.w-150 {
    width: 150px;
}

.w-170 {
    width: 170px;
}

.w-200 {
    width: 200px;
}

.w-250 {
    width: 250px;
}

.w-260 {
    width: 260px;
}

.w-270 {
    width: 270px;
}

.w-300 {
    width: 300px;
}

.w-350 {
    width: 350px;
}

.h-6 {
    height: 6px;
}

.h-7 {
    height: 7px;
}

.h-8 {
    height: 8px;
}

.h-10 {
    height: 10px;
}

.h-20 {
    height: 20px;
}

.line-1-4 {
    line-height: 1.4;
}

.line-1-5 {
    line-height: 1.5;
}

.p-5 {
    padding: 5px;
}
.pb-5 {
    padding-bottom: 5px;
}

.pt-7 {
    padding-top: 7px;
}

.p-8 {
    padding: 8px;
}
.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}
.pr-10 {
    padding-right: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}
.p-12 {
    padding: 12px;
}
.pb-12 {
    padding-bottom: 12px;
}

.p-15 {
    padding: 15px;
}

.pt-15 {
    padding-top: 15px;
}
.pr-15 {
    padding-right: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}
.pr-20 {
    padding-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.p-25 {
    padding: 25px;
}
.p-30 {
    padding: 30px;
}

.pt-25 {
    padding-top: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pl-25 {
    padding-left: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.m-0 {
    margin: 0;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mb-7 {
    margin-bottom: 7px;
}
.mb-8 {
    margin-bottom: 8px;
}
.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-70 {
    margin-left: 70px;
}

/* end padding */

/* start position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.left-150 {
    left: 150px;
}

.left-200 {
    left: 200px;
}

.left-300 {
    left: 300px;
}

.left-400 {
    left: 400px;
}

.left-500 {
    left: 500px;
}

/* end position */

/* start border */
.b-none {
    border: none;
}

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-top-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rad-50 {
    border-radius: 50%;
}

/* start border */

/* start box */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction-c {
    flex-direction: column;
}

.f-end {
    justify-content: flex-end;
}

.flex-1 {
    flex: 1;
}

.d-grid {
    display: grid;
}

.gap-7 {
    gap: 7px;
}

.gap-10 {
    gap: 10px;
}
.gap-12 {
    gap: 12px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.d-block {
    display: block;
}

/* end box */

/* start color */

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-grey {
    color: var(--grey-color);
}

.c-green {
    color: var(--green-color);
}

.c-red {
    color: var(--red-color);
}

.c-youtube {
    color: var(--youtube-color);
}

.c-facebook {
    color: var(--facebook-color);
}

.c-linkedin {
    color: var(--linkedin-color);
}

.c-twitter {
    color: var(--twitter-color);
}

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-f6f6f6 {
    background-color: #f6f6f6;
}

.bg-red {
    background-color: var(--red-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-blue-alt {
    background-color: var(--blue-alt-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-grey {
    background-color: var(--grey-color);
}

.bg-facebook {
    background-color: var(--facebook-color);
}

.bg-twitter {
    background-color: var(--twitter-color);
}

.bg-youtube {
    background-color: var(--youtube-color);
}

.bg-linkedin {
    background-color: var(--linkedin-color);
}

/* end color */

/* start button */
.btn-style {
    padding: 4px 10px;
    border-radius: 6px;
}

/* end button */

/* start border and box-shadow */
.shadow-ddd {
    box-shadow: 0 0 10px #ddd;
}

.bb-1-eee {
    border-bottom: 1px solid #eee;

}

.b-1-eee {
    border: 1px solid #eee;
}

/* end box-shadow */

/* start text */
.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

@media (max-width:767px) {
    .t-center-mobile {
        text-align: center;
    }
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-26 {
    font-size: 26px;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

.fs-34 {
    font-size: 34px;
}

.fw-normal {
    font-weight: normal;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-bold {
    font-weight: bold;
}

/* end text */

/* start media */
@media (max-width:767px) {
    .hide-mobile {
        display: none;
    }
}

/* end media */

/* start general */
.c-pointer {
    cursor: pointer;
}

/* start toggle-switch */
.toggle-switch {
    appearance: none;
    width: 74px;
    height: 30px;
    border-radius: 20px;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.4s;
}

.toggle-switch+label::before {
    content: '\f057';
    font-family: "Font Awesome 6 Free";
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    font-size: 27px;
    left: 3px;
    top: 3px;
    color: #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: 0.4s;
}

.toggle-switch:checked {
    background-color: var(--blue-color);
}

.toggle-switch:checked+label::before {
    left: 46px;
    content: '\f058';
    color: var(--blue-color);
}

/* end toggle-switch */

.order-1 {
    order: -1;
}

/* start check-box */
.ch-box input[type="checkbox"] {
    appearance: none;

}

.ch-box input[type="checkbox"]+label::before {
    position: absolute;
    content: '';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    left: 0;
    top: 1px;
    color: black;
    font-size: 12px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 2px solid var(--grey-color);
    transition: .3s;
}

.ch-box input[type="checkbox"]+label:hover::before {
    border: 2px solid var(--blue-alt-color);
}

.ch-box input[type="checkbox"]:checked+label::before {
    background-color: var(--blue-color);
    content: '\f00c';
    color: white;
    border: 2px solid var(--blue-color);
    transform: rotate(1turn);
    transition: .4s;
}

/* end check-box */

/* start radio-box */
.radio-box input[type="radio"] {
    display: none;
}

.radio-box input[type="radio"]+label {
    cursor: pointer;
}

.radio-box input[type="radio"]+label::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: 0;
    border: 2px solid var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-box input[type="radio"]:checked+label::before {
    border: 2px solid var(--blue-color);
}

.radio-box input[type="radio"]+label::after {
    position: absolute;
    left: 5px;
    top: 4.5px;
    content: '\f111';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: white;
    font-size: 12px;
}

.radio-box input[type="radio"]:checked+label::after {
    color: var(--blue-color);
    transition: .4s;

}

/* end radio-box */