#userImg{
    margin: 5px auto;
}
.general-information, .personal-information{
    text-align: left;
}

.profile-info .right{
    height: fit-content;
    border: 1px solid #eee;
}
#userRole{
    text-transform: capitalize;
}